<h3> Bookings for <%= @tennis_court.name %></h3>
<table>
  <tr>
    <th>Start</th>
    <th>End</th>
  </tr>
  
  <% @bookings.each do |booking| %>
  <tr>
    <td>
      <%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <%= booking.calculate_end_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td><%= link_to "Delete", tennis_court_booking_path(@tennis_court, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
    </td>
    <td><%= link_to "Edit", edit_tennis_court_booking_path(@tennis_court, booking) %>
    </td>
  </tr>
  <% end %>
</table>